GTInterfacesLibrary/GTInterfacesLibrary/obj
GTInterfacesLibrary/GTInterfacesLibrary/bin/Debug
GTMillGameLogic/GTMillGameLogic/bin
GTMillGameLogic/GTMillGameLogic/obj
GTMillGameLogic.userprefs
GTMillGameLogic/GTMillGameLogicTests/bin
GTMillGameLogic/GTMillGameLogicTests/obj/Debug
